body { 
background-color: aquamarine;
display: flex;
justify-content: center;
align-items: center;
}
.ink {
height: 600px;
width: 600px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.fluid {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pen1 {
background-color: blue;
height: 200px;
width: 200px;
}
.pen2 {
background-color: green;
height: 200px;
width: 200px;
}
.pen3 {
background-color: red;
height: 200px;
width: 200px;
}