* {
padding: 0px;
margin: 0px;
}

nav{
    background-color: blue;
padding: 10px;
}
.bright{
justify-content: space-around;
display: flex;
align-items: center;
list-style-type: none;

}

.bright li {
    cursor: pointer;
}
